.printTicket{
        border: 1px solid black; 
}
.printTicketMain{
        padding-bottom: 10%;
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

        .printTicket{
            width: 82%;
            margin-left: 15%;
        }
        .printTicket h4{
            font-size: 10px !important;
        }
        .printTicket h3{
            font-size: 12px !important;
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 3px;
        }
     

    }
    @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
        .printTicket{
            width: 80%;
            margin-left: 15%;
        }
        .printTicket h4{
            font-size: 10px !important;

        }
        .printTicket h3{
            font-size: 12px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 3px;
        }
        

    }
    @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        .printTicket{
            width: 60%;
        }
        .printTicket h4{
            font-size: 14px !important;
        }
        .printTicket h3{
            font-size: 12px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 6px;
        }
    }
    @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        .printTicket{
            width: 60%;
        }
        .printTicket h4{
            font-size: 14px !important;
        }
        .printTicket h3{
            font-size: 12px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 12px;
        }
    }
    @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        .printTicket{
            width: 60%;
        }
        .printTicket h4{
            font-size: 16px !important;
        }
        .printTicket h3{
            font-size: 14px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 12px;
        }
    }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
        .printTicket{
            width: 82%;
        }
        .printTicket h4{
            font-size: 17px !important;
        }
        .printTicket h3{
            font-size: 15px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 12px;
        }
    }
    @media (min-width:1281px) { /* hi-res laptops and desktops */ 
        .printTicket{
            width: 70%;
        }
        .printTicket h4{
            font-size: 18px !important;
        }
        .printTicket h3{
            font-size: 16px !important;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 12px;
        }
    }  
    
/* image capuring css start*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(cameraicons/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
html{
    background-color: #fff;
    font:normal 16px/1.5 sans-serif;
    color: #333;
}

h3{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 50px 0;
    text-align: center;
}
*/

.container_video{
 /*   max-width: 1000px; 
    margin: 50px auto;*/
    padding: 20px;
    background-color: #efefef;
}

.app{
    width: 100%;
    position: relative;
}

.app #start-camera{
  /*  display: none; */
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 100%;
}

.invisible{
    display: none;
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls a{
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a.disabled{
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover{
    opacity: 0.5;
}

.app .controls a i{
    font-size: 12px;
}

.app .controls #take-photo i{
    font-size: 16px;
}

.app canvas{
    display: none;
}



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls.visible{
    display: flex;
}



@media(max-width: 1000px){
    .container_video{
        margin: 40px;
    }

    .app #start-camera.visible{
        display: block;
    }

    .app .controls a i{
        font-size: 16px;
    }

    .app .controls #take-photo i{
        font-size: 24px;
    }
}


@media(max-width: 600px){
    .container_video{
        margin: 10px;
    }

    .app #error-message{
        padding: 80px 50px;
        font-size: 18px;
    }

    .app .controls a i{
        font-size: 12px;
    }

    .app .controls #take-photo i{
        font-size: 18px;
    }
}






.app #start-camera2{
  /*  display: none; */
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream2{
    display: none;
    width: 100%;
}

.invisible{
    display: none;
    width: 100%;
}

.app img#snap2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

.app .controls2 a{
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}


.app .controls2 #take-photo2 i{
    font-size: 32px;
}

.app canvas{
    display: none;
}



.app video#camera-stream2.visible,
.app img#snap2.visible,
.app #error-message.visible
{
    display: block;
}

.app .controls2.visible{
    display: flex;
}



@media(max-width: 1000px){
    .container_video{
        margin: 40px;
    }

    .app #start-camera2.visible{
        display: block;
    }

    .app .controls a i{
        font-size: 16px;
    }

    .app .controls #take-photo2 i{
        font-size: 24px;
    }
}


@media(max-width: 600px){
    .container_video{
        margin: 10px;
    }

    .app #error-message{
        padding: 80px 50px;
        font-size: 18px;
    }

    .app .controls a i{
        font-size: 12px;
    }

    .app .controls #take-photo2 i{
        font-size: 18px;
    }
}



/* image capuring css end*/
    